= wrap_layout :application do
  .cover
  .cover-inner
    %h1.cover-title= data.book.title.main
    - unless data.book.title.subtitle.nil?
      %h2.cover-subtitle= data.book.title.subtitle
    %h3.cover-author= data.book.author_as_it_appears
  .cover-copy
    .cover-copy-inner
      %p= data.book.description_short ||= lorem.sentences 3
  .cover-map
    #map.no-scroll
      .cover-map-inner
        = link_to 'View Full Map', '/map.html', :class => "button"
  .cover-colophon
    .cover-colophon-inner
      .colophon-text
        = lorem.sentences 3
      .colophon-logo
