-cat_group = lookup_entries(current_page.data.cat)
= wrap_layout :application do
  - if environment? :pdf
    .group-bleed-left
    .group-bleed-right
  .cat-entry
    %header.cat-entry-header#page-title
      = partial "partials/cat_image"
      .cat-entry-header-titlebar
        .cat-entry-header-titlebar-inner
          %h1.cat-entry-title= "#{current_page.data.cat.first}–#{current_page.data.cat.last}. #{current_page.data.title}"
    %article.cat-entry-content
      .cat-entry-content-inner
        .cat-details-columns
          - cat_group.each do |cat|
            = partial "partials/cat_details", :locals => { :current_cat => cat }
        = yield
