= wrap_layout :application do
  - if current_page.data.cover
    - image_url = image_path(current_page.data.cover)
    %header.page-cover{:style => "background-image: url('#{image_url}')"}
  %article.page
    %header.page-header
      - if current_page.data.cat
        - current_entry = lookup_entry(current_page.data.cat)
        %h3.cat-num= current_entry.cat
        %h1.page-title= current_entry.title
        %h4.cat-dates= current_entry.date_txt
      %h1.page-title= current_page.data.title
      - if current_page.data.subtitle
        %h3.page-subtitle= current_page.data.subtitle
      - if current_page.data.author and current_page.data.subtitle != "History of the Excavations"
        - current_page.data.author.each do |author|
          %h3.page-author= "#{author.first_name} #{author.last_name}"
    %main.page-content
      = yield
