- current_cat = lookup_entry(current_page.data.cat)
= wrap_layout :application do
  = partial "partials/cat_image"
  .cat-entry
    %header.cat-entry-header
      .cat-entry-header-inner
        %h1.cat-entry-title= current_cat.title
    %article.cat-entry-content
      .cat-entry-content-inner
        = partial "partials/cat_details", :locals => { :current_cat => current_cat }
        = yield
