%ul.cat-details
  %li
    %strong= " Cat. #{current_cat.cat}"
  %li
    = current_cat.date_txt
    %br
    = "#{current_cat.culture}, #{current_cat.location}"
  %li= "#{current_cat.material}. #{current_cat.dimensions[0]} cm x #{current_cat.dimensions[1]} cm"
  %li= current_cat.inv
  %li= partial "partials/cat_scale", :locals => { :current_cat => current_cat }
