- sorted_contents = sort_catalogue_contents
%ul.toc
  - if environment? :pdf
    -# %li.toc-item= link_to "Contents", "../../build/contents/index.html"
    %li.toc-item
      = link_to "Director's Foreword", "../../build/foreword/index.html"
      %span.toc-entry-author Timothy Potts
    %li.toc-item= link_to "Acknowledgments", "../../build/acknowledgments/index.html"
    %li.toc-item
      = link_to "Introduction", "../../build/introduction/index.html"
      %span.toc-entry-author Christine Kondoleon
    %li.toc-item= link_to "Italy", "../../build/catalogue/italy/index.html"
    %li.toc-item= link_to "Gaul", "../../build/catalogue/gaul/index.html"
    %li.toc-item= link_to "North Africa", "../../build/catalogue/northafrica/index.html"
    %li.toc-item= link_to "Syria", "../../build/catalogue/syria/index.html"
    %li.toc-item= link_to "References Cited", "../../build/referencescited/index.html"
    %li.toc-item= link_to "Contributors", "../../build/contributors/index.html"
    %li.toc-item= link_to "Index", "../../build/bookindex/index.html"
  - else
    - sorted_contents.each do |item|
      - next if item.data.title == "Contents"
      - if item.data.cat.is_a? Array
        %li.toc-item= link_to "#{item.data.cat.first}-#{item.data.cat.last}. #{item.data.title}", item
      - elsif item.data.cat
        - current_entry = lookup_entry(item.data.cat)
        %li.toc-item= link_to "#{item.data.cat}. #{current_entry.title}", item
      - else
        %li.toc-item
          - if item.data.intro
            %h5.toc-section-intro= link_to item.data.title, item
          - elsif item.data.sort_order == 101
            .toc-section-intro= link_to item.data.title, item
          - elsif item.data.subtitle
            = link_to item.data.title + ": " + item.data.subtitle, item
          - else
            = link_to item.data.title, item
          - if item.data.author and item.data.subtitle != "History of the Excavations"
            - item.data.author.each do |author|
              %span.toc-entry-author= "#{author.first_name} #{author.last_name}"
