- sorted_contents = sort_catalogue_contents
%ul.toc
  - if environment? :pdf
    -# %li.toc-item= link_to "Contents", "../../build/contents/index.html"
    %li.toc-item.frontmatter
      = link_to "Director's Foreword", "../../build/foreword/index.html"
      %span.toc-entry-author Timothy Potts
    %li.toc-item.frontmatter= link_to "Acknowledgments", "../../build/acknowledgments/index.html"
    %li.toc-item
      = link_to "Introduction", "../../build/introduction/index.html#page-title"
      %span.toc-entry-author Christine Kondoleon
    %li.toc-item.toc-section= link_to "Italy", "../../build/catalogue/italy/index.html"
    %li.toc-item= link_to "1. Mosaic Floor with Head of Medusa", "../../build/catalogue/1/index.html"
    %li.toc-item= link_to "2. Mosaic Floor with Bear Hunt", "../../build/catalogue/2/index.html"
    %li.toc-item.toc-section= link_to "Gaul", "../../build/catalogue/gaul/index.html"
    %li.toc-item= link_to "3. Mosaic Floor with Orpheus and Animals", "../../build/catalogue/3/index.html"
    %li.toc-item= link_to "Villelaure: History of the Excavations", "../../build/catalogue/excavations-villelaure/index.html"
    %li.toc-item= link_to "4. Mosaic Floor with Combat between Dares and Entellus", "../../build/catalogue/4/index.html"
    %li.toc-item.toc-section= link_to "North Africa", "../../build/catalogue/northafrica/index.html"
    %li.toc-item= link_to "5. Mosaic of a Lion Attacking an Onager", "../../build/catalogue/5/index.html"
    %li.toc-item.toc-section= link_to "Syria", "../../build/catalogue/syria/index.html"
    %li.toc-item= link_to "6. Mosaic Floor with Achilles and Briseis", "../../build/catalogue/6/index.html"
    %li.toc-item= link_to "Antioch and the Bath of Apolausis: History of the Excavations", "../../build/catalogue/excavations-antioch/index.html"
    %li.toc-item= link_to "7. Mosaic Floor with Animals", "../../build/catalogue/7/index.html"
    %li.toc-item= link_to "8. Mosaic Panel with Griffin", "../../build/catalogue/8/index.html"
    %li.toc-item= link_to "9&ndash;19. Mosaic Panels with Animals", "../../build/catalogue/9-19/index.html"
    %li.toc-item= link_to "20. Mosaic Panel with Head of a Season", "../../build/catalogue/20/index.html"
    %li.toc-item= link_to "21. Mosaic Panel with Two Male Busts", "../../build/catalogue/21/index.html"
    %li.toc-item= link_to "References Cited", "../../build/referencescited/index.html#page-title"
    %li.toc-item= link_to "Glossary", "../../build/glossary/index.html"
    %li.toc-item= link_to "Contributors", "../../build/contributors/index.html"
    -# %li.toc-item= link_to "Index", "../../build/bookindex/index.html"
  - else
    - sorted_contents.each do |item|
      - next if item.data.title == "Contents"
      - if item.data.cat.is_a? Array
        %li.toc-item= link_to "#{item.data.cat.first}-#{item.data.cat.last}. #{item.data.title}", item
      - elsif item.data.cat
        - current_entry = lookup_entry(item.data.cat)
        %li.toc-item= link_to "#{item.data.cat}. #{current_entry.title}", item
      - else
        %li.toc-item
          - if item.data.intro
            %h5.toc-section-intro= link_to item.data.title, item
          - elsif item.data.sort_order == 101
            .toc-section-intro= link_to item.data.title, item
          - elsif item.data.subtitle
            = link_to item.data.title + ": " + item.data.subtitle, item
          - else
            = link_to item.data.title, item
          - if item.data.author and item.data.subtitle != "History of the Excavations"
            - item.data.author.each do |author|
              %span.toc-entry-author= "#{author.first_name} #{author.last_name}"
