.nav-sidebar-inner
  %header.nav-sidebar-header.nav-sidebar-toc-section
    %h2.nav-sidebar-title= data.book.title.main
    %h3.nav-sidebar-author= author_name
    %a.nav-sidebar-close{:href => "javascript:void(0);", :id => "nav-menu-close"}
      %i.ion-android-close
  .nav-sidebar-content
    %ul.nav-sidebar-toc
      %li
        = link_to "/contents.html" do
          %h4 Contents
      %li.nav-sidebar-toc-section
        %ul
          %li= link_to "Italy", "/catalogue/italy.html"
          %li= link_to "Gaul", "/catalogue/gaul.html"
          %li= link_to "North Africa", "/catalogue/northafrica.html"
          %li= link_to "Syria", "/catalogue/syria.html"
    .nav-sidebar-downloads
      = partial "partials/downloads_mini"
    .nav-sidebar-cite
      = partial "partials/cite"
  %footer.nav-sidebar-footer
    :markdown
      Online collection catalogue published by the J. Paul Getty Museum,
      and licensed under a [Creative Commons Attribution 4.0 International
      License](http://creativecommons.org/licenses/by/4.0/){:rel="license"}
    = link_to "About", "/about.html"
    %span &#124;
    = link_to "Privacy", "http://www.getty.edu/legal/privacy.html", { target: "blank" }
    %span &#124;
    = link_to "Terms of Use", "http://www.getty.edu/legal/copyright.html", { target: "blank" }
    .nav-logo
      = tag :img,
        src: image_path("getty_logo.svg"), class: "nav-logo", alt: "Getty Logo"
