---
title: About
layout: page
sort_order: 105
pdf_output: false
---

Mosaics decorated domestic and public buildings across the broad expanse of the Roman Empire. Scenes drawn from mythology, daily life, nature, and spectacles in the arena enlivened interior spaces and reflected the cultural ambitions of wealthy patrons. Dating from the second through the sixth centuries AD, the mosaics in the collection of the J. Paul Getty Museum exemplify Roman mosaic production from its center in Italy to major workshops in North Africa, southern Gaul (present-day France), and ancient Syria (present-day Turkey and modern Syria). In addition to its comprehensive catalogue entries, this publication provides a detailed examination of the contexts in which the mosaics were discovered and excavated.

This volume documents all twenty-one mosaics in the J. Paul Getty Museum’s collection, presenting their artistry in new color photography. The online edition includes zoomable high-resolution reproductions of the works in the collection, links to comparable sites and mosaics on the Web, a map drawn from the Digital Atlas of the Roman Empire, and other special interactive features. The complete catalogue can be downloaded for free in multiple formats. For readers who prefer a bound reference copy, a paperback edition is available for sale.

## Citation Information

> #### Chicago
> Belis, Alexis. *Roman Mosaics in the J. Paul Getty Museum*. Los Angeles: Getty Publications, 2016. http://www.getty.edu/publications/romanmosaics

> #### MLA
> Belis, Alexis. *Roman Mosaics in the J. Paul Getty Museum*. Los Angeles: Getty P, 2016. <span class="cite-current-date">DD Mon. YYYY</span> &#60;http://www.getty.edu/publications/romanmosaics&#62;.

#### Permanent URL

<%= permalink %>

## Revision History

<%= partial "partials/revision_history" %>

## Downloads

<%= partial "partials/downloads" %>

<%= partial "partials/copyright_license" %>

<%= partial "partials/publisher_team" %>

<div class="loc-cip">
Library of Congress Cataloging-in-Publication Data

<%= data.book.library_of_congress_cip_data %>
</div>

<div class="credits">
Illustration Credits TK

Every effort has been made to contact the owners and photographers of objects reproduced here whose names do not appear in the captions or in the illustration credits listed below. Anyone having further information concerning copyright holders is asked to contact Getty Publications so this information can be included in future printings.
</div>
