---
title: Index
layout: page
sort_order: 104
---
<div class="book-index">

<div class="index-note">

Note: page numbers in *italics* refer to images; terms in **bold** preceding the page numbers refer to sections of this catalogue.

<br />

</div>

- Achilles, <%= link_to "**Intro.**", "/introduction.html" %><span class="page-numbers">; 2.</span> *See also* Mosaic Floor with Achilles and Briseis (Antioch?, AD 100–300)
- Adonis, <%= link_to "**Syria**", "/catalogue/syria.html" %><span class="page-numbers">; 38</span>
- *Aeneid* (Virgil), <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**cat. 4**", "/catalogue/4.html" %><span class="page-numbers">; 1–2, 17, 28, 29n19</span>. *See also* Mosaic Floor with Combat between Dares and Entellus (Villelaure, AD 175–200)
- ‘Ain el-Bad, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 57</span>
- Aix-en-Provence. *See* Aquae Sextiae
- Alexander Mosaic, Pompeii, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Italy**", "/catalogue/italy.html" %><span class="page-numbers">; 1, 4</span>
- Alexandria, <%= link_to "**cat. 8**", "/catalogue/8.html" %><span class="page-numbers">; 51</span>
- amphitheater(s)
  - boxing matches in, <%= link_to "**cat. 4**", "/catalogue/4.html" %><span class="page-numbers">; 29n18</span>
  - wild animal combats in, <%= link_to "**cat. 2**", "/catalogue/2.html" %>, <%= link_to "**cat. 4**", "/catalogue/4.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 13, 14, 28, 29n17, 35</span>
- amphitheater themes
  - in Gallic mosaics, <%= link_to "**Villelaure**", "/catalogue/excavations-villelaure.html" %><span class="page-numbers">; 23</span>
  - in Italian mosaics, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 13, 14</span>
  - in North African mosaics, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 33</span>
  - in Syrian mosaics, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 33</span>
- animal images, <%= link_to "**Intro.**", "/introduction.html" %><span class="page-numbers">; 2.</span> *See also* hunting scenes; lions and prey, images of; Mosaic Floor with Animals (Antioch, ca. AD 400); Mosaic Floor with Orpheus and Animals (Saint-Romain-en-Gal, AD 150–200); Mosaic of a Lion Attacking an Onager (Hadrumetum, AD 150–200); Mosaic Panels with Animals (Emesa?, AD 400–600)
  - in Christian church mosaics, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Syria**", "/catalogue/syria.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %>, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 2, 39, 48, *54–55*, 56–58</span>
  - in Gallic mosaics, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 1, 16, 19, 20</span>
  - in Italian mosaics, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 2, 5, 13–14</span>
  - in Near Eastern and Greek art, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 35</span>
  - in North African mosaics, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 2, 33, 35–36</span>
  - in Syrian mosaics, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Syria**", "/catalogue/syria.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %>, <%= link_to "**cat. 8**", "/catalogue/8.html" %>, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 2, 39, 47, 48, *50*, 51, *54–55*, 57–58</span>
  - symbolic meaning of, <%= link_to "**Syria**", "/catalogue/syria.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %>, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 39, 48, 58</span>
- Antakya. *See* Antioch
- Antioch. *See also* Bath of Apolausis; Mosaic Floor with Achilles and Briseis (Antioch?, AD 100–300); Mosaic Floor with Animals (Antioch, ca. AD 400)
  - excavation of, <%= link_to "**Antioch**", "/catalogue/excavations-antioch.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %><span class="page-numbers">; 43–45, 47–48</span>
  - Medusa mosaic from, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 8</span>
  - mosaics from, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %>, <%= link_to "**Syria**", "/catalogue/syria.html" %>, <%= link_to "**cat. 6**", "/catalogue/6.html" %><span class="page-numbers">; 2, 33, 38, 39, 41, 42</span>
  - regional style, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %><span class="page-numbers">; 2, 48n4</span>
- Apamea, <%= link_to "**Antioch**", "/catalogue/excavations-antioch.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %>, <%= link_to "**cat. 8**", "/catalogue/8.html" %><span class="page-numbers">; 38, 45n7, 48n2, 52n13
- Aphrodite, <%= link_to "**Syria**", "/catalogue/syria.html" %><span class="page-numbers">; 38</span>
- Apolausis Mosaic, Antioch, <%= link_to "**Antioch**", "/catalogue/excavations-antioch.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %><span class="page-numbers">; 44, *45*, 47–48</span>. *See also* Bath of Apolausis; Mosaic Floor with Animals (Antioch, ca. AD 400)
- Aquae Sextiae, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**Villelaure**", "/catalogue/excavations-villelaure.html" %>, <%= link_to "**cat. 4**", "/catalogue/4.html" %><span class="page-numbers">; 17, 23, 27, 29n15, 29n21</span>
- Aquileia, <%= link_to "**cat. 7**", "/catalogue/7.html" %><span class="page-numbers">; 48</span>
- arena(s). *See* amphitheater(s); amphitheater themes
- Armenian Chapel, Jerusalem, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 57</span>
- Artemis, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 36</span>. *See also* Diana
- artisans and craftsmen, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 2, 5, 16, 32</span>
- Atrium House, Antioch, <%= link_to "**Syria**", "/catalogue/syria.html" %><span class="page-numbers">; 38</span>

<br />

- Baiae, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 5, 11, 13</span>
- Bararus, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 21</span>
- Bath of Apolausis, <%= link_to "**Antioch**", "/catalogue/excavations-antioch.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %><span class="page-numbers">; 43–45, *43, 44, 45*, 47–48</span>. *See also* Mosaic Floor with Animals (Antioch, ca. AD 400)
- baths
  - in Roman culture, <%= link_to "**cat. 7**", "/catalogue/7.html" %><span class="page-numbers">; 47–48</span>
  - mosaics in, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 1**", "/catalogue/1.html" %>, <%= link_to "**cat. 2**", "/catalogue/2.html" %>, <%= link_to "**cat. 3**", "/catalogue/3.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %>, <%= link_to "**Syria**", "/catalogue/syria.html" %>, <%= link_to "**Antioch**", "/catalogue/excavations-antioch.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %><span class="page-numbers">; 5, 9, 12, 13, 21, 32–33, 39, 43–45, 47–49</span>
- Bergama. *See* Pergamon
- black-and-white style mosaics, <%= link_to "**Intro.**", "/introduction.html" %><span class="page-numbers">; 1</span>
  - in Gaul, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 16, 17, 17n6, 19, *19*, 21</span>
  - in Italy, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 4–5, 5n4, 7, 8, *8*</span>
  - in North Africa, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 32–33</span>
- Briseis, <%= link_to "**Intro.**", "/introduction.html" %><span class="page-numbers">; 2.</span> *See also* Mosaic Floor with Achilles and Briseis (Antioch?, AD 100–300)
- British Museum, London, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 19, 20, *21*</span>

<br />

- Caesarea Maritima, <%= link_to "**cat. 8**", "/catalogue/8.html" %>, <%= link_to "**cat. 20**", "/catalogue/20.html" %><span class="page-numbers">; 51, 52, 61</span>
- Calendar Mosaic, House of the Months, Thysdrus, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 33</span>
- Callisto, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**Villelaure**", "/catalogue/excavations-villelaure.html" %>, <%= link_to "**cat. 4**", "/catalogue/4.html" %><span class="page-numbers">; 1, 17, 23, *24*, 27, 28, 29n14, 29n17</span>
- Carthage, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 5, 36</span>
- Centcelles, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 13</span>
- Chazen Museum of Art (University of Wisconsin–Madison), <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 58</span>
- Christian churches
  - images of personified seasons in, <%= link_to "**cat. 20**", "/catalogue/20.html" %><span class="page-numbers">; 61</span>
  - mosaics of animal images in, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Syria**", "/catalogue/syria.html" %>, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 2, 39, *54–55*, 56–59</span>
  - mosaics with scenes from daily life in, <%= link_to "**cat. 21**", "/catalogue/21.html" %><span class="page-numbers">; 65</span>
- Church of Saint George, Deir al-Adas, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 57</span>
- Church of Saint George, Houad, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 57, 58</span>
- Church of Saints Lot and Procopius, Khirbet Mukhayyat, <%= link_to "**cat. 21**", "/catalogue/21.html" %><span class="page-numbers">; 65</span>
- Church of ‘Umm Hartaine, Syria, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 57</span>
- Cirencester. *See* Corinium Dobunnorum
- Cleveland Museum of Art, <%= link_to "**cat. 21**", "/catalogue/21.html" %><span class="page-numbers">; 65</span>
- Constantinople, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %>, <%= link_to "**Syria**", "/catalogue/syria.html" %>, <%= link_to "**cat. 8**", "/catalogue/8.html" %><span class="page-numbers">; 2, 36n7, 51</span>
- Corinium Dobunnorum, <%= link_to "**cat. 7**", "/catalogue/7.html" %><span class="page-numbers">; 48</span>
- Corinth, <%= link_to "**cat. 1**", "/catalogue/1.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 7, 36n4</span>
- *Cynegetica* (Pseudo-Oppian), <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 13, 14</span>

<br />

- daily life, scenes from
  - in Gallic mosaics, <%= link_to "**Gaul**", "/catalogue/gaul.html" %><span class="page-numbers">; 17, 28</span>
  - in Syrian mosaics, <%= link_to "**cat. 21**", "/catalogue/21.html" %><span class="page-numbers">; 65</span>
- Dares, <%= link_to "**Intro.**", "/introduction.html" %><span class="page-numbers">; 2.</span> *See also* Mosaic Floor with Combat between Dares and Entellus (Villelaure, AD 175–200)
- Dar Zmela, <%= link_to "**cat. 1**", "/catalogue/1.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 9, 32</span>
- *De Architectura* (Vitruvius), <%= link_to "**Intro.**", "/introduction.html" %><span class="page-numbers">; 1</span>
- Deir al-Adas. *See* Church of Saint George, Deir al-Adas
- Deir es-Sleib, <%= link_to "**cat. 20**", "/catalogue/20.html" %><span class="page-numbers">; 61</span>
- Devnya. *See* Marcianopolis
- Diana, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**Villelaure**", "/catalogue/excavations-villelaure.html" %>, <%= link_to "**cat. 4**", "/catalogue/4.html" %><span class="page-numbers">; 1, 17, 23, *24*, 27, 28, 29n14, 29n17</span>. *See also* Artemis
- Diana and Callisto Mosaic, Villelaure, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**Villelaure**", "/catalogue/excavations-villelaure.html" %>, <%= link_to "**cat. 4**", "/catalogue/4.html" %><span class="page-numbers">; 1, 17, 23–24, *23, 24*, 27, 28, 29n14, 29n17</span>
- Dionysos, <%= link_to "**cat. 1**", "/catalogue/1.html" %>, <%= link_to "**cat. 3**", "/catalogue/3.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %>, <%= link_to "**Syria**", "/catalogue/syria.html" %><span class="page-numbers">; 7, 20, 21, 35–36, 38</span>

<br />

- El Djem. *See* Thysdrus
- El Kef, <%= link_to "**cat. 2**", "/catalogue/2.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 13, 33</span>
- El-Maqerqesh, <%= link_to "**cat. 20**", "/catalogue/20.html" %><span class="page-numbers">; 61</span>
- *emblema,* pl. *emblemata*, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**cat. 3**", "/catalogue/3.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %>, <%= link_to "**Syria**", "/catalogue/syria.html" %><span class="page-numbers">; 2, 4, 16, 19, 33, 35–36, 38</span>
- Emesa, <%= link_to "**Syria**", "/catalogue/syria.html" %>, <%= link_to "**cat. 8**", "/catalogue/8.html" %>, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 38, 51, 57</span>
- Entellus, <%= link_to "**Intro.**", "/introduction.html" %><span class="page-numbers">; 2.</span> *See also* Mosaic Floor with Combat between Dares and Entellus (Villelaure, AD 175–200)
- Eretria, *See* House of the Mosaics, Eretria
- Erez, <%= link_to "**cat. 8**", "/catalogue/8.html" %><span class="page-numbers">; 51</span>

<br />

- Felix, T. Senius, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 14</span>
- Fordham Museum of Greek, Etruscan and Roman Art (New York), <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 58</span>

<br />

- Gadara, <%= link_to "**cat. 8**", "/catalogue/8.html" %><span class="page-numbers">; 51</span>
- Gardens of Licinius, Rome, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 5, 13</span>
- Gaul, mosaics in, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**cat. 3**", "/catalogue/3.html" %>, <%= link_to "**Villelaure**", "/catalogue/excavations-villelaure.html" %>, <%= link_to "**cat. 4**", "/catalogue/4.html" %><span class="page-numbers">; 16–30. *See also* Mosaic Floor with Combat between Dares and Entellus (Villelaure, AD 175–200); Mosaic Floor with Orpheus and Animals (Saint-Romain-en-Gal, France, AD 150–200)
  - characteristic themes, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**cat. 4**", "/catalogue/4.html" %><span class="page-numbers">; 17, 28</span>
  - influence of Italian style on, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**Gaul**", "/catalogue/gaul.html" %><span class="page-numbers">; 5, 16</span>
  - regional style, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Gaul**", "/catalogue/gaul.html" %><span class="page-numbers">; 1, 16–17</span>
- geometric designs
  - in Gallic mosaics, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 16, 17, 19</span>
  - in Italian mosaics, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 4, 7, 8, *8*</span>
  - in North African mosaics, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %>, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 8–9, 32</span>
  - in Syrian mosaics, <%= link_to "**cat. 7**", "/catalogue/7.html" %><span class="page-numbers">; 47</span>
- Getty Villa, model for design of, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 9</span>
- Great Baths at Thaenae, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 9</span>
- Great Baths at Thysdrus, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 32–33</span>
- griffins, <%= link_to "**cat. 2**", "/catalogue/2.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %>, <%= link_to "**cat. 8**", "/catalogue/8.html" %><span class="page-numbers">; 13, 35, 36n6, 51</span>. *See also* Mosaic Panel with Griffin (Emesa?, AD 400–500)

<br />

- Hadrian (Roman emperor), as hunter, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 13</span>
- Hadrian’s Villa, Tivoli, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 2, 5, 35</span>
- Hadrumetum, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 32, *34*, 35–36</span>
- Hama, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 58</span>
- Hellenistic Greek tradition
  - influence on Gallic mosaic style, <%= link_to "**Gaul**", "/catalogue/gaul.html" %><span class="page-numbers">; 16</span>
  - influence on Italian mosaic style, <%= link_to "**Italy**", "/catalogue/italy.html" %><span class="page-numbers">; 4</span>
  - influence on North African mosaic style, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 2, 35</span>
  - influence on Syrian mosaic style, <%= link_to "**Syria**", "/catalogue/syria.html" %>, <%= link_to "**cat. 6**", "/catalogue/6.html" %><span class="page-numbers">; 38–39, 41, 42</span>
- Heloros. *See* Villa del Tellaro, near Heloros
- Henchir-Rougga. *See* Bararus
- Herakles, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**Syria**", "/catalogue/syria.html" %><span class="page-numbers">; 16–17, 38</span>
- Herculaneum, <%= link_to "**cat. 7**", "/catalogue/7.html" %><span class="page-numbers">; 48n10</span>. *See also* Villa dei Papiri, Herculaneum
- Hippo Regius, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 13</span>
- Hippolytus Hall, Madaba, <%= link_to "**cat. 20**", "/catalogue/20.html" %><span class="page-numbers">; 61</span>
- Homer, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**cat. 6**", "/catalogue/6.html" %><span class="page-numbers">; 2, *40*, 41–42</span>
- Homs. *See* Emesa
- Houad. *See* Church of Saint George, Houad
- House of Aion, Antioch, <%= link_to "**cat. 6**", "/catalogue/6.html" %><span class="page-numbers">; 41–42</span>
- House of Antiope, Marcianopolis, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 8, 9n10</span>
- House of Briseis’s Farewell, Antioch, <%= link_to "**cat. 6**", "/catalogue/6.html" %><span class="page-numbers">; 41–42</span>
- House of Orpheus, Vienne, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 21</span>
- House of the Dionysiac Procession, Thysdrus, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 2, 33, 36</span>
- House of the Fabii, Pompeii, <%= link_to "**cat. 8**", "/catalogue/8.html" %><span class="page-numbers">; 51</span>
- House of the Faun, Pompeii, <%= link_to "**Italy**", "/catalogue/italy.html" %><span class="page-numbers">; 4</span>
- House of the Labyrinth, Pompeii, <%= link_to "**Italy**", "/catalogue/italy.html" %><span class="page-numbers">; 4</span>
- House of the Months, Thysdrus, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 33</span>
- House of the Mosaics, Eretria, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 35</span>
- House of the Mosaics, Motya, Sicily, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 35</span>
- House of the Red Pavement, Antioch, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 8</span>
- House of the Tragic Poet, Pompeii, <%= link_to "**cat. 6**", "/catalogue/6.html" %><span class="page-numbers">; 41</span>
- Huarte, <%= link_to "**cat. 8**", "/catalogue/8.html" %><span class="page-numbers">; 51</span>
- hunting scenes, <%= link_to "**Intro.**", "/introduction.html" %><span class="page-numbers">; 2.</span> *See also* Mosaic Floor with Bear Hunt (near Baiae, AD 300–400)
  - in Gallic mosaics, <%= link_to "**Villelaure**", "/catalogue/excavations-villelaure.html" %>, <%= link_to "**cat. 4**", "/catalogue/4.html" %><span class="page-numbers">; 23, *24*, 27, 28, 29n14, 29n17</span>
  - in Italian mosaics, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 5, 13</span>
  - in North African mosaics, <%= link_to "**cat. 2**", "/catalogue/2.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 13, 33</span>
- Hylas and Nymphs, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 20, 21, *21*</span>

<br />

- *Iliad* (Homer), <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**cat. 6**", "/catalogue/6.html" %><span class="page-numbers">; 2, *40*, 41–42</span>
- Italy, mosaics in, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 1**", "/catalogue/1.html" %>, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 4–14</span>. *See also* Mosaic Floor with Bear Hunt (near Baiae, AD 300–400); Mosaic Floor with Head of Medusa (Rome, AD 115–150)
  - influence on Gallic style, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**Gaul**", "/catalogue/gaul.html" %><span class="page-numbers">; 5, 16</span>
  - North African style and, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 2**", "/catalogue/2.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 5, 11, 32, 33</span>
  - regional style, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Italy**", "/catalogue/italy.html" %><span class="page-numbers">; 1, 4–5</span>

<br />

- Jerusalem. *See* Armenian Chapel, Jerusalem

<br />

- Khirbet Mukhayyat. *See* Church of Saints Lot and Procopius, Khirbet Mukhayyat
- Kibyra, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 9</span>
- Kimbell Art Museum, Fort Worth, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 58</span>
- Kisamos, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 7</span>
- Kissufim, <%= link_to "**cat. 20**", "/catalogue/20.html" %><span class="page-numbers">; 65</span>
- Knossos. *See* Villa of Dionysos, Knossos

<br />

- Leptis Magna, <%= link_to "**cat. 8**", "/catalogue/8.html" %><span class="page-numbers">; 51</span>
- Levant, regional style of, <%= link_to "**cat. 20**", "/catalogue/20.html" %><span class="page-numbers">; 61</span>
- Libanius, <%= link_to "**Antioch**", "/catalogue/excavations-antioch.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %><span class="page-numbers">; 43, 48</span>
- Lillebonne, <%= link_to "**cat. 2**", "/catalogue/2.html" %>, <%= link_to "**cat. 4**", "/catalogue/4.html" %><span class="page-numbers">; 14, 29n17</span>
- lions and prey, images of. *See also* Mosaic of a Lion Attacking an Onager (Hadrumetum, AD 150–200)
  - apotropaic function of, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 35</span>
  - in Near Eastern and Greek art, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 35, 36</span>
- Lod. *See* Lydda
- Los Angeles County Museum of Art, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**Villelaure**", "/catalogue/excavations-villelaure.html" %><span class="page-numbers">; 1, 17, 23, *24*</span>
- Lucus Feroniae. *See* Villa of the Volusii Saturnini, Lucus Feroniae
- Lugdunum, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 16, 19</span>
- Lydda, <%= link_to "**cat. 7**", "/catalogue/7.html" %><span class="page-numbers">; 48</span>
- Lyon. *See* Lugdunum

<br />

- Ma‘arat an-Nu‘man Museum, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 58</span>
- Ma‘arata, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 57</span>
- Madaba. *See* Hippolytus Hall, Madaba
- Marcianopolis. *See* House of Antiope, Marcianopolis
- Marseille. *See* Massalia
- Massalia, <%= link_to "**Gaul**", "/catalogue/gaul.html" %><span class="page-numbers">; 16</span>
- Medusa
  - apotropaic function of, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 1, 7</span>
  - in Greek mythology, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 7</span>
  - mosaics depicting, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 7, *8*, 8–9</span>. *See also* Mosaic Floor with Head of Medusa (Rome, AD 115–150); Mosaic with Head of Medusa (Rome, AD 115–150)
  - in North African mosaics, <%= link_to "**cat. 1**", "/catalogue/1.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 8–9, 32</span>
- Megalopsychia Mosaic, Antioch, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 33</span>
- *Metamorphoses* (Ovid), <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**cat. 4**", "/catalogue/4.html" %><span class="page-numbers">; 17, 28</span>
- Metropolitan Museum of Art, New York, <%= link_to "**cat. 20**", "/catalogue/20.html" %><span class="page-numbers">; 61</span>
- Mezra‘a el-‘Ulia, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 57</span>
- Mosaic Floor with Achilles and Briseis (Antioch?, AD 100–300), <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Syria**", "/catalogue/syria.html" %>, <%= link_to "**cat. 6**", "/catalogue/6.html" %><span class="page-numbers">; 2, 38, *40*, 41–42</span>
- Mosaic Floor with Animals (Antioch, ca. AD 400), <%= link_to "**Syria**", "/catalogue/syria.html" %>, <%= link_to "**Antioch**", "/catalogue/excavations-antioch.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %><span class="page-numbers">; 39, *43*, 43–45, *46*, 47–49</span>
- Mosaic Floor with Bear Hunt (near Baiae, AD 300–400), <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 2**", "/catalogue/2.html" %>, <%= link_to "**cat. 4**", "/catalogue/4.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 2, 5, *10, 11, 12, 13*, 11–14, 33</span>
- Mosaic Floor with Combat between Dares and Entellus (Villelaure, AD 175–200), <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**cat. 3**", "/catalogue/3.html" %>, <%= link_to "**Villelaure**", "/catalogue/excavations-villelaure.html" %>, <%= link_to "**cat. 4**", "/catalogue/4.html" %><span class="page-numbers">; *viii*, 1–2, 17, 23, *23*, *26*, 27–30</span>
- Mosaic Floor with Head of Medusa (Rome, AD 115–150), <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 1**", "/catalogue/1.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 1, 4, *6*, 7–9, 32</span>
- Mosaic Floor with Orpheus and Animals (Saint-Romain-en-Gal, AD 150–200), <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 1, 16, *18*, *19*, 19–22</span>
- Mosaic of a Lion Attacking an Onager (Hadrumetum, AD 150–200), <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; *i–ii*, 2, 32, 33, *34*, 35–36</span>
- Mosaic Panels with Animals (Emesa?, AD 400–600), <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Syria**", "/catalogue/syria.html" %>, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 2, 39, *54–55*, 56–59</span>
- Mosaic Panel with Griffin (Emesa?, AD 400–500), <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**cat. 8**", "/catalogue/8.html" %><span class="page-numbers">; 2, *50*, 51–52</span>
- Mosaic Panel with Head of a Season (Syria?, AD 400–600), <%= link_to "**cat. 20**", "/catalogue/20.html" %><span class="page-numbers">; *60*, 61–62</span>
- Mosaic Panel with Two Male Busts (Syria?, AD 400–600), <%= link_to "**cat. 21**", "/catalogue/21.html" %><span class="page-numbers">; *64*, 65</span>
- mosaic styles and techniques, <%= link_to "**Intro.**", "/introduction.html" %><span class="page-numbers">; 1.</span> *See also* black-and-white style mosaics; geometric designs
  - multiple decor design, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 16–17, 19, 20, 21, 29n22</span>
  - *opus mixtum*, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 8</span>
  - *opus sectile*, <%= link_to "**cat. 1**", "/catalogue/1.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %><span class="page-numbers">; 9, 47</span>
  - *opus signinum*, <%= link_to "**Gaul**", "/catalogue/gaul.html" %><span class="page-numbers">; 16</span>
  - *opus tessellatum*, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**Intro.**", "/introduction.html" %><span class="page-numbers">; 1, 16</span>
  - *opus vermiculatum*, <%= link_to "**Italy**", "/catalogue/italy.html" %><span class="page-numbers">; 5n1</span>
  - rainbow style, <%= link_to "**Syria**", "/catalogue/syria.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %>, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 39, 47, 57</span>
  - *terrazzo*, <%= link_to "**Gaul**", "/catalogue/gaul.html" %><span class="page-numbers">; 16</span>
- Motya. *See* House of the Mosaics, Motya, Sicily
- multiple decor design, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 16–17, 19, 20, 21, 29n22</span>
- Musée de Vienne, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 20</span>
- Musei Capitolini Centrale Montemartini, Rome, <%= link_to "**Intro.**", "/introduction.html" %><span class="page-numbers">; 2</span>
- Museo Archeologico Nazionale, Naples, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 11, *11*, 12, 14</span>
- Museo Nazionale Romano—Palazzo Massimo alle Terme, Rome, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 8, *8*</span>

<br />

- Nemesis, <%= link_to "**cat. 8**", "/catalogue/8.html" %><span class="page-numbers">; 51</span>
- Nile Festival Building, Sepphoris, <%= link_to "**cat. 20**", "/catalogue/20.html" %><span class="page-numbers">; 61</span>
- Nile Mosaic, Palestrina, <%= link_to "**Italy**", "/catalogue/italy.html" %><span class="page-numbers">; 4</span>
- Nilotic Landscape Mosaic, Villelaure, <%= link_to "**Villelaure**", "/catalogue/excavations-villelaure.html" %>, <%= link_to "**cat. 4**", "/catalogue/4.html" %><span class="page-numbers">; 23, *24*, 27, 29n7</span>
- Nimes, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 28</span>
- North Africa, mosaics in, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 32–36</span>. *See also* Mosaic of a Lion Attacking an Onager (Hadrumetum, AD 150–200)
  - hunting scene mosaics in, <%= link_to "**cat. 2**", "/catalogue/2.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 13, 33</span>
  - influence of Italian style on, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 5, 32</span>
  - influence on Italian style, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 2**", "/catalogue/2.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 5, 11, 33</span>
  - influence on Sicilian style, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers"><span class="page-numbers">; 33</span>
  - Medusa mosaics in, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 8–9</span>
  - regional style, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 2, 32–33</span>

<br />

- *opus mixtum*, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 8</span>
- *opus sectile*, <%= link_to "**cat. 1**", "/catalogue/1.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %><span class="page-numbers">; 9, 47</span>
- *opus signinum*, <%= link_to "**Gaul**", "/catalogue/gaul.html" %><span class="page-numbers">; 16</span>
- *opus tessellatum*, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Gaul**", "/catalogue/gaul.html" %><span class="page-numbers">; 1, 16</span>
- *opus vermiculatum*, <%= link_to "**Italy**", "/catalogue/italy.html" %><span class="page-numbers">; 5n1</span>
- Orpheus
  - mosaics depicting, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 21</span>. *See also* Mosaic Floor with Orpheus and Animals (Saint-Romain-en-Gal, AD 150–200)
  - in mythology, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 19–20</span>
- Ostia, <%= link_to "**Italy**", "/catalogue/italy.html" %><span class="page-numbers">; 5, 5n7</span>
- Oudna, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 5, 33, 35</span>
- Ovid, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**cat. 4**", "/catalogue/4.html" %><span class="page-numbers"> 17, 28</span>

<br />

- Palazzo Imperiale, Ostia, <%= link_to "**Italy**", "/catalogue/italy.html" %><span class="page-numbers">; 5</span>
- Palestrina, *See* Nile Mosaic, Palestrina
- Palmyra, <%= link_to "**cat. 8**", "/catalogue/8.html" %><span class="page-numbers">; 51</span>
- Paris (*Iliad* character), <%= link_to "**Syria**", "/catalogue/syria.html" %><span class="page-numbers">; 38</span>
- Pergamon, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 8</span>
- Petra, <%= link_to "**cat. 20**", "/catalogue/20.html" %><span class="page-numbers">; 61</span>
- Piazza Armerina, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 2, 5, 14</span>
- Piraeus, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 8</span>
- Pompeii. *See* Alexander Mosaic, Pompeii; House of the Fabii, Pompeii; House of the Faun, Pompeii; House of the Labyrinth, Pompeii; House of the Tragic Poet, Pompeii
- Pompeion, Athens, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 35</span>
- Pseudo-Oppian, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 13, 14</span>
- Puteoli, mosaic workshop in, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 14</span>

<br />

- rainbow style, <%= link_to "**Syria**", "/catalogue/syria.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %>, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 39, 47, 57</span>
- Ravenna, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 13</span>
- *Roman Mosaics across the Empire* (2016 exhibition), <%= link_to "**Foreword**", "/catalogue/foreword.html" %>, <%= link_to "**Villelaure**", "/catalogue/excavations-villelaure.html" %><span class="page-numbers">; *vi*, 25n8</span>
- Rome. *See* Gardens of Licinius, Rome; Mosaic Floor with Head of Medusa (Rome, AD 115–150)

<br />

- Saint-Romain-en-Gal, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 16, 21, *21*</span>. *See also* Mosaic Floor with Orpheus and Animals (Saint-Romain-en-Gal, France, AD 150–200)
- Santa Marinella, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 21</span>
- seasons, personifications of, <%= link_to "**cat. 1**", "/catalogue/1.html" %>, <%= link_to "**cat. 2**", "/catalogue/2.html" %>, <%= link_to "**cat. 3**", "/catalogue/3.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %>, <%= link_to "**cat. 20**", "/catalogue/20.html" %><span class="page-numbers">; 9n3, 13, *13*, 19, *19*, 20, 21, 33, *60*, 61–62</span>
- Sepphoris. *See* Nile Festival Building, Sepphoris
- Sessorium, Constantinople (Constantinian imperial palace), <%= link_to "**Intro.**", "/introduction.html" %><span class="page-numbers">; 2</span>
- Shahba Philippopolis, <%= link_to "**Syria**", "/catalogue/syria.html" %><span class="page-numbers">; 38</span>
- Silvanus, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 20, *21*</span>
- Smithsonian Institution National Museum of Natural History, Washington, DC, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 36</span>
- Soteria Mosaic, Antioch, <%= link_to "**Antioch**", "/catalogue/excavations-antioch.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %><span class="page-numbers">; 44, *44*, 47–48</span>. *See also* Bath of Apolausis; Mosaic Floor with Animals (Antioch, ca. AD 400)
- Sousse. *See* Hadrumetum
- Symmachus, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 13</span>
- Syria, mosaics in, <%= link_to "**Syria**", "/catalogue/syria.html" %>, <%= link_to "**cat. 6**", "/catalogue/6.html" %>, <%= link_to "**Antioch**", "/catalogue/excavations-antioch.html" %>, <%= link_to "**cat. 7**", "/catalogue/7.html" %>, <%= link_to "**cat. 8**", "/catalogue/8.html" %>, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %>, <%= link_to "**cat. 20**", "/catalogue/20.html" %>, <%= link_to "**cat. 21**", "/catalogue/21.html" %><span class="page-numbers">; 38–65</span>. *See also* Bath of Apolausis; Mosaic Floor with Achilles and Briseis (Antioch?, AD 100–300); Mosaic Floor with Animals (Antioch, ca. AD 400); Mosaic Panels with Animals (Emesa?, AD 400–600); Mosaic Panel with Griffin (Emesa?, AD 400–500); Mosaic Panel with Head of a Season (Syria?, AD 400–600); Mosaic Panel with Two Male Busts (Syria?, AD 400–600)
  - Christian church mosaics in, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Syria**", "/catalogue/syria.html" %>, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %>, <%= link_to "**cat. 20**", "/catalogue/20.html" %>, <%= link_to "**cat. 21**", "/catalogue/21.html" %><span class="page-numbers">; 2, 39, *54–55*, 56–59, 61, 65</span>
  - regional style, <%= link_to "**Syria**", "/catalogue/syria.html" %><span class="page-numbers">; 38–39</span>

<br />

- Telegenii, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 35–36</span>
- Temanaa, <%= link_to "**cats. 9–19**", "/catalogue/9-19.html" %><span class="page-numbers">; 57</span>
- *terrazzo*, <%= link_to "**Gaul**", "/catalogue/gaul.html" %><span class="page-numbers">; 16</span>
- Thaenae. *See* Great Baths at Thaenae
- Theseus, <%= link_to "**Italy**", "/catalogue/italy.html" %><span class="page-numbers">; 4</span>
- Thysdrus, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 1**", "/catalogue/1.html" %>, <%= link_to "**cat. 3**", "/catalogue/3.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 2, 5, 9, 21, 32–33, 36</span>. *See also* Great Baths at Thysdrus

<br />

- ‘Umm Hartaine. *See* Church of ‘Umm Hartaine, Syria
- Uthina. *See* Oudna
- Utica, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 13</span>

<br />

- *venatio*, pl. *venationes*, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**cat. 2**", "/catalogue/2.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 2, 13, 33</span>
- Vienne, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**cat. 3**", "/catalogue/3.html" %><span class="page-numbers">; 16, 19</span>
- Villa dei Papiri, Herculaneum, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 9</span>
- Villa del Tellaro, near Heloros, <%= link_to "**cat. 2**", "/catalogue/2.html" %><span class="page-numbers">; 14</span>
- Villa of Dionysos, Knossos, <%= link_to "**cat. 1**", "/catalogue/1.html" %><span class="page-numbers">; 9n3</span>
- Villa of the Laberii, Oudna, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**cat. 5**", "/catalogue/5.html" %><span class="page-numbers">; 5, 35</span>
- Villa of the Volusii Saturnini, Lucus Feroniae, <%= link_to "**Italy**", "/catalogue/italy.html" %><span class="page-numbers">; 4</span>
- Villelaure. *See also* Mosaic Floor with Combat between Dares and Entellus (Villelaure, AD 175–200)
  - excavation of, <%= link_to "**Villelaure**", "/catalogue/excavations-villelaure.html" %>, <%= link_to "**cat. 4**", "/catalogue/4.html" %><span class="page-numbers">; 23, 24, *24*, 25, 27</span>
  - mosaics from, <%= link_to "**Villelaure**", "/catalogue/excavations-villelaure.html" %><span class="page-numbers">; 23–25, *23, 24, 25*</span>
  - significance of mosaics in, <%= link_to "**cat. 4**", "/catalogue/4.html" %><span class="page-numbers">; 28</span>
  - villa at, <%= link_to "**Villelaure**", "/catalogue/excavations-villelaure.html" %><span class="page-numbers">; 24</span>
- Vitruvius, <%= link_to "**Intro.**", "/introduction.html" %><span class="page-numbers">; 1</span>

<br />

- Worcester Hunt Mosaic, Antioch, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 33</span>
  - workshops, regional, <%= link_to "**Intro.**", "/introduction.html" %><span class="page-numbers">; 1</span>
  - itinerant craftsmen and, <%= link_to "**Intro.**", "/introduction.html" %>, <%= link_to "**Italy**", "/catalogue/italy.html" %>, <%= link_to "**Gaul**", "/catalogue/gaul.html" %>, <%= link_to "**North Africa**", "/catalogue/northafrica.html" %><span class="page-numbers">; 2, 5, 16, 32</span>
  - stylistic interconnections between, <%= link_to "**Intro.**", "/introduction.html" %><span class="page-numbers">; 2</span>

</div>
