---
title: Table of Contents
layout: page
sort_order: 1
---
.toc
  - contents = sitemap.resources.find_all {|p| p.data.sort_order }
  - sorted_contents = contents.sort_by {|p| p.data.sort_order }
  %ul
    - sorted_contents.each do |item|
      - if item.data.cat.is_a? Array
        - multiple_entries = item.data.cat
        - multiple_entries.each do |num|
          - current_entry = data.catalogue.find { |entry| entry.cat == num }
          %li.toc-item= link_to current_entry.title, item.path
      - elsif item.data.cat
        - current_entry = data.catalogue.find { |entry| entry.cat == item.data.cat }
        %li.toc-item= link_to current_entry.title, item.path
      - else
        %li.toc-item
          - if item.data.intro
            %h5.toc-section-intro= link_to item.data.title, item.path
          - elsif item.data.sort_order == 101
            -# sort_order 101 is the beginning of post-catalogue materials
            .toc-section-intro= link_to item.data.title, item.path
          - else
            = link_to item.data.title, item.path
          - if item.data.author_last_name
            %span.toc-entry-author= "#{item.data.author_first_name} #{item.data.author_last_name}"
