---
title: Roman Mosaics in the J. Paul Getty Museum
layout: false
---
!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title= current_page.data.title
    = stylesheet_link_tag "application"
  %body
    / Print Frontmatter
    .print-cover
    .print-halftitle
      %h1.print-halftitle-title= data.book.title.short
      %h2.print-halftitle-subtitle= data.book.title.subtitle
    .print-title-left
    .print-title-right
    .print-copyright
      .description
        :markdown
          The free online edition of this catalogue, available at
          [http://www.getty.edu/publications/romanmosaics](http://www.getty.edu/publications/romanmosaics),
          includes zoomable high-resolution photography, embedded glossary terms
          and additional comparative images, and interactive maps drawn from the
          Digital Atlas of the Roman Empire. Also available are free PDF, EPUB,
          and MOBI downloads of the book, CSV and JSON downloads of the object
          data from the catalogue, and JPG and PPT downloads of the main
          catalogue images.
      = partial "partials/copyright_license_print"
      .revision-history
        - if data.book.revision_history.size > 1
          %p
            First edition, #{data.book.pub_date.year}<br />Last updated, #{data.book.revision_history.last.date}<br />
            %a= data.book.repository_url
        - else
          %p
            First edition, #{data.book.pub_date.year}<br />
            %a= data.book.repository_url
      = partial "partials/publisher_team"
      .distribution
        %p
          Distributed in the United States and Canada by the University of Chicago Press
          %br
          Distributed outside the United States and Canada by Yale University Press, London
        %p
          Printed in the United States of America
      = partial "partials/library_of_congress_data"
      %ul.illustration-credits
        %li Front cover: Detail of Mosaic Floor with Head of Medusa (cat. 1)
        %li Back cover: Detail of Mosaic Panel with Peacock Facing Left (cat. 9)
        %li pp. i–ii: Detail of Mosaic of a Lion Attacking an Onager (cat. 5)
        %li p. viii: Detail of Mosaic Floor with Combat between Dares and Entellus (cat. 4)
        %li p. 66: Detail of Mosaic Floor with Orpheus and Animals (cat. 3)
