---
cat: 4
author:
 - first_name: Nicole
   last_name: Budrovich
layout: single
sort_order: 17
---
### Provenance

This mosaic was found in a Roman villa near the modern town of Villelaure.[^1] In 1836, M. Aliqué, the steward of the Marquis de Forbin-Janson, unearthed four rooms with mosaic floors divided by a corridor. The mosaics were soon reburied and their exact location forgotten.[^2] In the winter of 1898, the villa was accidentally rediscovered by Pierre Raynaud, whose plow brought up pieces of concrete with mosaic decoration.[^3] The landowner, M. Peyrusse, organized excavations in the spring of 1900 and uncovered the four rooms, their mosaic floors in various states of preservation. The floor of the first room was heavily damaged; the second room preserved a small section of a Nilotic scene (<%= link_to "fig. 15", "#fig15" %>); the third contained the Getty mosaic of Dares and Entellus; and the fourth had a partially preserved mosaic of Diana and Callisto surrounded by a hunting frieze (<%= link_to "fig. 16", "#fig16" %>).[^4] Visible to the public in situ after their discovery, the central panels of the mosaics were lifted by 1913 and stored at the farm in Roules owned by M. Peyrusse.[^5] By 1920, they were sold to Frédéric Rinck, a dealer in Avignon, and then bought by R. Ancel, a dealer in Paris.[^6] The Louvre attempted to acquire the mosaics in 1923, but they were ultimately sold to the New York art dealer Joseph Brummer in 1926.[^7] Purchased soon after by William Randolph Hearst, the mosaics were transferred to Hearst Castle, San Simeon, in May 1926. Upon Hearst’s death, they were bought by his estate manager, James M. Evans, who sold the mosaic of Dares and Entellus to J. Paul Getty in 1971.[^8]

<figure markdown="0" class="inline-figure" id="fig15">
  <img src='<%= image_path("figures/fig15.jpg") %>' alt="Figure 15: watercolor (now lost) of the mosaic floor" />
  <figcaption>Figure 15: Henri Nodet (French, 1855–1940), watercolor (now lost) of the mosaic floor with a Nilotic landscape, 1903. Mosaic, Gallo-Roman, AD 175–200. Found in Villelaure, France, 1832</figcaption>
</figure>

<figure markdown="0" class="inline-figure" id="fig16">
  <img src='<%= image_path("figures/fig16.jpg") %>' alt="Figure 16: Mosaic Floor with Diana and Callisto" />
  <figcaption>Figure 16: Mosaic Floor with Diana and Callisto Surrounded by Hunt Scenes, Gallo-Roman, AD 175–200. Found in Villelaure, France, 1832. Stone and glass tesserae, 300 x 270 cm. Los Angeles County Museum of Art, M.71.73.99</figcaption>
</figure>

### Commentary

This square mosaic panel depicts two nude boxers standing in front of a large white bull. The central image is surrounded by a three-part border: an inner <span class="popup popup-definition" data-definition='<%= define_term("guilloche") %>'>*guilloche*</span> band, a rinceau of alternating vine and ivy leaves with red squares in the four corners, and an outer border of black-and-white chevrons.[^9] The panel decorated the center of a large white mosaic floor with a border of white and black lines (4.7 by 7 meters), which is now lost but documented in excavation drawings. The mosaic is composed of tesserae made primarily of stones in shades of red, yellow, and black, except for the horns of the bull, which are made of pale blue glass.

The subject of the mosaic is the boxing match between Dares and Entellus, as described in Virgil’s *Aeneid* (5.362–484)*.*[^10] In Virgil’s account, the event takes place during the funeral games held by Aeneas, the future founder of Rome, to honor his late father, Anchises. Dares, a young Trojan in Aeneas’s company, famous for his strength, offers to compete and calls for an opponent. Entellus, an older local Sicilian, takes up the challenge and, despite his age, soundly defeats Dares, nearly beating him to death before Aeneas intervenes to end the fight. Entellus is named the victor and brazenly kills his prize, a large white bull, with a single blow to demonstrate his strength and honor the gods. The Getty mosaic illustrates the conclusion of the episode: Entellus, the bearded, stocky figure on the left, has just struck the bull and stands with his chest thrust forward and his arms flexed. He glances back toward Dares, who turns away, his arms lowered and his head bleeding. Both men wear *caesti*, strips of leather weighted with lead or iron, wrapped around their hands and forearms. These weighted gloves were distinctively Roman, and Virgil describes them in detail.[^11] The bull is shown at the moment of death: its forehead bloody and its forelegs crumpled under the force of Entellus’s blow.

The Getty mosaic originally decorated the floor of a long room, perhaps a <span class="popup popup-definition" id="def_triclinium">*triclinium*</span>, with its entrance likely on the eastern end facing the Marderic River.[^12] As is usual, the orientation of the mosaic favors the view of the homeowner and his guests from within the room. Upon entering the space, the Dares and Entellus mosaic would appear upside down, and one would have had to walk over or around the mosaic to the western end of the room in order to view it properly.[^13] The iconography, especially when considered with that of the adjacent rooms containing the Diana and Callisto and the Nile mosaics—which are the only known examples of their kind in Gaul—likely served to emphasize the patron’s awareness of Roman literature and culture.[^14] Although the identity of the patron is unknown, he was probably a wealthy member of the elite with connections to Aquae Sextiae (present-day Aix-en-Provence), a center of mosaic workshops in southern Gaul.[^15]

Given the unique combination of mosaic pavements found in this villa at Villelaure, it is likely that the iconography of these mosaics had personal or local significance. The Getty mosaic draws on the repertoire of figural mosaics from this region, which often feature scenes from literature and myth.[^16] The mosaics from Villelaure, however, also resonate with activities of contemporary life in southern Gaul. For example, the mosaic showing Diana and Callisto (<%= link_to "fig. 16", "#fig16" %>) illustrates a scene from Ovid’s *Metamorphoses* featuring Diana, patron goddess of the hunt, in the central panel, while the surrounding border contains a frieze of various hunting scenes. Hunting was a notable elite pastime and a spectacle in the local amphitheaters.[^17] In a similar fashion, the mosaics with Dares and Entellus may have reminded viewers of contemporary athletic games as well as the passage in the *Aeneid*.[^18] Collectively, the mosaics speak to an interest in Roman literature, local leisure activities, and entertainment—appropriate themes for a countryside villa.

### Comparanda

Despite the widespread popularity of Virgil’s representations of the *Aeneid* are surprisingly uncommon in mosaics.[^19] Furthermore, the boxing match between Dares and Entellus is a minor episode in the *Aeneid* and a seemingly odd choice for a mosaic floor.[^20] This particular scene, however, proved popular in southern Gaul, where it occurs on at least four other mosaics—three from Aix-en-Provence and one from <span class="popup popup-location" id="loc_105">Nîmes</span>, all dating to the late second century AD.[^21] All five mosaics share the same basic composition—Entellus and Dares flanking the dying bull—but they vary in quality and in the treatment of the surrounding design elements.[^22]

### Condition

The mosaic is in good condition with few losses except for a small section above the left shoulder of Dares, which was missing upon its discovery and restored sometime after the mosaic was lifted.[^23] The surface of the mosaic was ground down and polished, likely around the same time as the other restorations.

### Bibliography

*Bulletin de la Société nationale des antiquaires de France* 1900, 167; *Comptes-rendus de l’Académie des inscriptions* *et belles-lettres* 1900, 222; Labande and de Villefosse 1900, 113, no. 3; Gauckler 1901, 340; Lafaye 1901, 117–18, 119; Fowler 1902, 370; Labande 1903, 8–10, 5; de Villefosse 1903, 20–23, no. D, plate 2; Lafaye 1909, 24, no. 104; Jacquème 1922, 101–6, plate 8; Reinach 1922, 278, no. 5; Michon 1923a, 109; Michon 1923b; Michon 1923c, LX; Sautel 1939, 4, no. 11; Vermeule and Neuerburg 1973, 54–55, no. 114; Fredericksen 1975, 55; Lavagne 1977, 177–82, fig. 2; Lavagne 1978, 135–46, fig. 2; Rey 1979, 17–21; Ministère de la culture et communication 1981, 349, fig. 367; Geymonat 1987, 156, fig. 16; Seignoret 1987, 4; Egea 1988; Darmon 1990, 70, 73–74; Lavagne 1994, 213–14, fig. 8; Darmon 1995, 62–63; Lancha 1997, 111–13, no. 57, plate 61; Lavagne 2000, 306–8, 310–11, fig. 48, no. 915, plate 101; Tallah 2004, 374–75, fig. 469; Gaday et al. 2006, 18–19, fig. 4; Sauze and Muret 2008, 11–18; Lavagne 2014, 197, fig. 272.

<span class="entry-author">N.B.</span>

[^1]: The site was in a field known as the Tuilière, two kilometers north of Villelaure, twenty-five meters west of the Marderic River, under less than a meter of earth. The excavation report is published in Labande 1903, 3–13, and de Villefosse 1903, 13–14, 20–23. See also Lavagne 1977, 177–78. Recent diagnostic excavations at the site have unearthed new finds; see Gaday et al. 2006, 30–31, 38.

[^2]: According to local traditions, pieces of mosaic floors with representations of humans and animals were found in the mid-nineteenth century, but they are now lost; see Labande 1903, 3. By 1872, locals believed that the mosaics had been destroyed due to the plowing of the field; see Jacquème 1922, 101.

[^3]: See Labande 1903; on Pierre Raynaud, see Seignoret 1987.

[^4]: Now in the Los Angeles County Museum of Art (M.71.73.99). For a discussion of the other mosaics and excavations at the site, see “Villelaure: History of the Excavations,” in the present catalogue.

[^5]: The mosaics may have been lifted and set in cement as early as 1901 (see Gauckler 1901, 340) and only moved off-site by 1913; see Labande 1903, 4n1; Rey 1979, 25; and Lavagne 2000, 306. According to Labande, the mosaic fragments from the first room were donated to the Academie de Vaucluse and intended for the Musée Calvet d’Avignon, but according to Lavagne, there is no record of the donation in the archives; see Lafaye 1909, no. 102; Rey 1979, 25; and Lavagne 2000, 306. The pavements that surrounded the central scene are now lost; see Labande 1903, 4n1.

[^6]: See Rey 1979, 25; and Lavagne 2000, 306.

[^7]: In Lavagne 1977, 178n10, the author cites a letter from E. Michon (Michon 1923b), antiquities curator at the Louvre at the time, concerning the mosaics. The fragmentary Nilotic mosaic may have been sold to Brummer and damaged in transit to the United States (Lavagne 2000, 307); however, it may have been lost earlier because Étienne Michon notes that only two mosaics were with the dealer in Paris in 1923 (Michon 1923a, 109). These mosaics are recorded in the Brummer Gallery Records (N1101: Large Gallo-Roman mosaic and N1102: Large Gallo-Roman mosaic). The Metropolitan Museum of Art, New York, has digitized the Brummer Gallery Records, now available online on the museum’s Thomas J. Watson Library website; see Digital Collections from the Metropolitan Museum of Art, Brummer Gallery Records, <span class="force-wrap">http://libmma.contentdm.oclc.org/cdm/landingpage/collection/p16028coll9.</span>

[^8]: The Diana and Callisto mosaic was sold to Phil Berg in 1962, and upon his death in 1983 it was donated to the Los Angeles County Museum of Art; see Lavagne 2000, 307.

[^9]: See Lavagne 2000, 216. This type of chevron design is relatively rare; comparanda are found in Aix-en-Provence (Lavagne 2000, no. 742), Orange (Lavagne 1979, nos. 45, 58), Nîmes (Esperandieu 1935, nos. 6, 11, 35), and Russi, Italy (Lancha 1977, fig. 78).

[^10]: The composition departs slightly from Virgil’s description in order to condense several moments into one recognizable scene. In the poem, after Aeneas stops the fight (*Aeneid*, 5.461–64), Dares is carried away by his companions (*Aeneid*, 5.468–70); Entellus is awarded and kills the prize bull only after Dares departs (*Aeneid*, 5.474–76). Virgil’s account of the boxing match imitates Homeric and Hellenistic models (see Homer’s *Iliad*, 23.651–99, and *Odyssey*, 18.1–108; Apollonius’s *Argonautica*, 2.30–97; and Theocritus’s *Idyll*, 22).

[^11]: Virgil’s *Aeneid*, 5.405–13. On *caesti*, see Poliakoff 1987, 68–79.

[^12]: This proposed orientation is based on Labande's 1903 plan (see fig. 12)  and on comparable mosaic floors, including two with the Dares and Entellus mosaics from Aix-en-Provence (rue des Chartreux and rue des Magnans), which favor a view of the mosaic from within the room; see Lavagne 2000, nos. 840, 857, fig. 45.

[^13]: The black-and-white chevron border, which encircles the mosaic in a counterclockwise direction, would perhaps have encouraged movement around the mosaic; see Clarke 1979, 21, on “kinesthetic address” in Roman mosaics.

[^14]: The Diana and Callisto mosaic illustrates a specific and rarely portrayed episode of the myth of Diana’s discovery of the pregnant Callisto (Ovid, *Metamorphoses*, 2.401–530). Callisto is exiled, transformed into a bear and nearly killed by her own son during a hunt, but is ultimately rescued and transformed into a constellation. The wounded bear depicted in the hunting frieze above the central panel may have reminded viewers of Callisto’s imminent transformation; see Lavagne 2000, 309, 313, nos. 914, 916.

[^15]: See Lavagne 2000, 291, 310. The owner of the villa in Villelaure may have seen representations of Dares and Entellus on mosaics in Aquae Sextiae and requested the motif; the three Aix mosaics are dated slightly earlier, AD 130–150.

[^16]: Examples from southeast Gallia Narbonensis include Theseus and the Minotaur (Lavagne 2000, no. 788), Orpheus (Lavagne 2000, nos. 511, 764), Bacchus and Ariadne (Lavagne 2000, no. 835), Narcissus (Lavagne 2000, no. 629), the labors of Hercules (Lavagne 2000, no. 554), and a theater scene (Lavagne 2000, no. 787, perhaps from Terence’s *Adelphi* or a play by Menander).

[^17]: Lavagne 2000, 311–15, no. 916, plates 102, 103. Ovid, *Metamorphoses*, 2.401–530. The hunting scene includes animals that were actually hunted in southern Gaul (the hare and the deer) with animals more typically found in *venationes* of the amphitheater (the bear, the lion, and the leopard); compare mosaics from Lillebonne (Darmon 1994, no. 885), Vallon (Rebetez 1992, 15–29), and Nennig (Dunbabin 1999, 82, fig. 84).

[^18]: Athletic spectacles, which included boxing matches, were likely held in arenas, amphitheaters, and *palaestrae*. In his *Epistulae* (Letters), Pliny the Younger notes the popularity of *gymnicus agon* in Gaul, as far north as Vienne (*Epistulae*, 4.22); for a review of athletics in Gaul, see Newby 2005, chapter 3, and König 2005, chapter 5, especially 219–22.

[^19]: Other allusions to the *Aeneid* found in mosaics of Roman villas, include the Dido and Aeneas from Low Ham, Somerset; Aeneas with the Golden Bough from Frampton, Dorset; Europa and the bull from Lullingstone, Kent; and representations of Virgil from Sousse (Dunbabin 1978, 131, 242, plate 130) and Trier (Landesmuseum, inv. 10703-24; Parlasca 1959, 41). See Dunbabin 1999, 96–98, for references on the mosaics from Britain, and Ling 1998, 73 and 75, for a discussion of Roman legend in mosaics.

[^20]: The boxing match would have been recognizable to an ancient viewer (compare a graffito from Pompeii that quotes *Aeneid*, 5.389, honoring Entellus *CIL* IV 8379). See Milnor 2014, 269, no. 44; Ferraro 1982, 31, no. 22; and Lavagne 2000, 290.

[^21]: The Aix-en-Provence examples include a mosaic discovered near the Hôpital Saint-Jacques in 1790, recorded in a watercolor but now lost (Lavagne 2000, no. 789, plate 81), a second from rue des Chartreux in 1988 (Lavagne 2000, no. 840, plates 90, 91), and a third from rue des Magnans in 1992 (Lavagne 2000, no. 857, plates 93–98). The Nîmes mosaic differs in its composition since it includes Aeneas presiding as judge; see Lancha 1997, nos. 50, 101, and Darmon 1990, 73. For discussions of the five mosaics, see Lavagne 1994, 211–15; and Lavagne 2014, 196–98. A possible sixth mosaic, in Arles, is damaged and currently unpublished; see Lavagne 1990, 22. The only other known representations of the scene are two funerary reliefs from northern Gaul (Lefebvre 1987, 14–17; and Espérandieu 1913, no. 4339, reproduced in Lavagne 1994, figs. 9 and 10) and a heavily restored relief in the Lateran collection (Helbig 1963, 731, no. 1016).

[^22]: By the second century AD, Gallo-Roman mosaic workshops were well established and had developed local styles, such as the geometric grid design known as “multiple decor” that was especially popular in the upper Rhône valley; see Dunbabin 1999, 74–76. A high-quality example of this pattern is the Dares and Entellus mosaic from rue des Magnans in Aix-en-Provence; see Lavagne 2000, no. 857, plate 94.

[^23]: The missing section is visible in watercolors by Henri Nodet (see de Villefosse 1903, plate 2, 32; and Lafaye 1909, plate 104) and also documented in a photograph by Franki Moulin (see Lafaye 1901, 117, 119). Restorations may have been made in the United States during the 1930s; see Lavagne 2000, 310.
