---
title: Mosaic Panels with Animals
cat: [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
author:
 - first_name: Sean
   last_name: Leatherbury
layout: multiple
sort_order: 25
---
### Provenance

The mosaics may have come from a church in <span class="popup popup-location" data-location='<%= location("loc_21719") %>'>Emesa</span> (present-day Homs), Syria. However, there is no documentary evidence to confirm this provenance. The eleven panels were given to the J. Paul Getty Museum in 1975.[^1]

### Commentary

These eleven fragmentary mosaics represent various animals—bulls, a lion, a horse, a rabbit, a donkey, a stag, an eagle, peacocks, and other birds—and likely adorned the floors of one or more churches in Syria. Animals set among landscapes and vegetal motifs were typical of church mosaics in this region. Although all are very similar in style, the Getty mosaics feature a variety of compositions, including the so-called inhabited vine scroll, occasional landscape elements, such as trees and flowers, and both standing animals and active group scenes.

Vine scrolls decorate several of the Getty panels.[^2] They are especially prominent on the two mosaics with peacocks (cats. 9, 10). Long vines with grape clusters wind across the surface and surround each bird. Peacocks frequently took a prominent position in church mosaics and were often paired in a symmetrical arrangement that distinguished them from other animals on the floor. These panels once flanked a tree or a wine vessel (traditionally, a <span class="popup popup-definition" data-definition='<%= define_term("kantharos") %>'>*kantharos*</span> or an <span class="popup popup-definition" data-definition='<%= define_term("amphora") %>'>*amphora*</span>), which is now lost. Similar peacocks flank a *kantharos* in the sixth-century AD floor mosaic of a chapel at ‘Ain el-Bad in Syria, now in the National Museum in Damascus, and in the sixth-century AD pavement of the <span class="popup popup-pic" data-pic=' <%= pic("pic_35") %>'>"Armenian Chapel"</span> near the Damascus Gate in <span class="popup popup-location" data-location='<%= location("loc_15896") %>'>Jerusalem</span>.[^3] The Mosaic Panel with Donkey and Bird (cat. 11) features a vine scroll bearing plump clusters of grapes. A bird perched on the vine turns its head to peck at one of the bunches of grapes. The Mosaic Panel with Eagle (cat. 12), which depicts the bird frontally, its wings outstretched in a heraldic pose, may have been framed by a vine scroll or a medallion, the remnants of which are visible around the borders of the panel.[^4]

Other mosaic panels depict animals and birds in different landscape settings. The Mosaic Panel with Three Birds and Tree (cat. 13) shows two birds, one dark with white spots, the other light in color, sitting on the ground on either side of a tree, while a third bird perches above. The Mosaic Panel of Bull and Flowers (cat. 14), which portrays a running bull, and the Mosaic Panel with Stag (cat. 15) each contain a flowering bush. Similar bushes are present in a number of Syrian church mosaics, including the nave mosaics of the eighth-century Church of Saint George at Deir al-Adas.[^5] On the Mosaic Panel with Horse (cat. 16), a horse wearing a rainbow-patterned saddle composed of triangles in alternating colors stands among several bushes or small trees. A similarly patterned horse’s saddle is found in the <span class="popup popup-pic" data-pic=' <%= pic("pic_36") %>'>mosaics of a church</span> at Ma‘arata.[^6] On the Mosaic Panel with Bull (cat. 17), a muscular bull stands peacefully in a field of pink flowers, a feature also seen in the pavement of a fifth- or sixth-century AD church at <span class="popup popup-location" data-location='<%= location("loc_0010") %>'>Mezra‘a el-‘Ulia</span> and in the <span class="popup popup-pic" data-pic=' <%= pic("pic_37") %>'>fifth-century mosaics of the church</span> at <span class="popup popup-location" data-location='<%= location("loc_0011") %>'>Temanaa</span>, now in the Ma‘arat an-Nu‘man Museum.[^7]

The Getty mosaic panels utilize various organizational schemes. While several depict individual animals standing alone, other panels show animals engaged in lively chase scenes. In the Mosaic Panel with Rabbit (cat. 18), a rabbit glances back as it leaps away from a predator, possibly a dog.[^8] The legs of two additional running animals are preserved along the broken upper edge of the mosaic—on the left, the front hooves of one animal are visible, and on the right, the back legs of another are seen. In the Mosaic Panel with a Lion Chasing a Bull (cat. 19), a lion bites into the hindquarters of a bull as it tries to flee. The motif of a lion attacking a bull was common in the classical tradition, and it continued to be popular in Byzantine practice. The image is found, for example, in the aisle mosaics of the <span class="popup popup-pic" data-pic=' <%= pic("pic_38") %>'>Church of Saint George</span> at <span class="popup popup-location" data-location='<%= location("loc_33200") %>'>Houad</span> (southeast of Apamea) in Syria, dated by inscription to AD 568, in which the lion bites into the bull, bringing forth large drops of blood.[^9] The animals depicted on these two Getty panels are stylistically similar in their outlines and shading and can be compared to those depicted in the Mezra‘a el-‘Ulia pavement, which also features an animal chase.[^10]

The range of different compositions represented in the Getty mosaics suggests that the panels came either from different churches or from several different spaces within a single church.[^11] Churches in the region sometimes included vine scrolls and landscape scenes, like those on the Getty panels, in separate spaces of the same building. In the Church of <span class="popup popup-location" data-location='<%= location("loc_33216") %>'>‘Umm Hartaine</span> in Syria, dated to ca. 500 AD, for instance, the apse mosaic is decorated with an <span class="popup popup-pic" data-pic=' <%= pic("pic_39") %>'>inhabited scroll</span> and the nave with <span class="popup popup-pic" data-pic=' <%= pic("pic_40") %>'>animals chasing</span> within a landscape setting.[^12] The panels of a stag and of a lion chasing a bull (see cats. 15, 19) feature remnants of borders, suggesting that the mosaics may have come from panels placed in an aisle. In the aforementioned church at Houad, animals appear in <span class="popup popup-pic" data-pic=' <%= pic("pic_41") %>'>bordered panels</span> in the aisles and in a <span class="popup popup-pic" data-pic=' <%= pic("pic_42") %>'>stacked arrangement</span> in the nave.[^13] The popular decorative scheme of two peacocks flanking a vessel (see cats. 9, 10) typically appeared in churches either at the entrance (west end) of the nave or in the sanctuary.[^14] Other panels, such as the one with a horse (see cat. 16), may have been placed in an aisle or in the nave of a church, although their fragmentary state makes their original contexts difficult to determine. Rather than bordered panels, another possible layout is the <span class="popup popup-pic" data-pic=' <%= pic("pic_43") %>'>free-form arrangement</span> seen in the mosaics of a church near <span class="popup popup-location" data-location='<%= location("loc_21720") %>'>Hama</span> (now in the Hama Archaeological Museum), which depicts animals walking or chasing each other around the nave.

In their Christian setting, the animals and other decorative elements would have alluded to Christian teachings. The vine scroll may have reminded viewers of Jesus’s words in the Gospel according to John: “I am the true vine” (John 15:1). In early Christian art and literature, peacocks were considered among the most spectacular creatures on earth, and Augustine noted the belief that their flesh was incorruptible.[^15] The eagle as a Christian symbol has been variously interpreted in connection with Christ and in its association with other birds, such as the Phoenix.[^16] However, rather than conveying individual symbolic meanings, the majority of the animals represented in the Getty panels likely belonged to a larger scheme, in which the beasts represented the creatures in paradise or the variety of God's creations on earth. A similar selection of animals appears in several Syrian churches on mosaic floors that portray the scene of Adam naming the animals (Genesis 2:19–20).[^17]

While the relationship between the Getty panels is uncertain, they do appear to have been produced either by the same group of mosaicists or by one or more closely related workshops.[^18] The artisans employed a similar style and mannerisms, including heavy outlining of forms, rough modeling of body parts and musculature, and a color palette of reds, browns, beiges, and other earth tones. Although the execution of many of these panels does not show as much skill as that of the mosaics produced in metropolitan centers such as Antioch, the works do testify to the vibrant rural production of mosaics in the Levant in the fifth and sixth centuries AD.

### Comparanda

In addition to the examples discussed above, stylistically similar panels are on display in the Ma‘arat an-Nu‘man Mosaics Museum, near Hama in Syria, as well as in a number of museums in the United States, including the Chazen Museum of Art at the University of Wisconsin–Madison, the Kimbell Art Museum in Fort Worth, and the Fordham Museum of Greek, Etruscan and Roman Art in New York.[^19]

### Condition

The panels are in varying states of preservation, with modern repairs of significant cracks and losses. All have been set into reinforced concrete frames, with the concrete mixture used to back and fill the panels, sometimes extending over the tesserae. Other fill materials used prior to the panels’ arrival at the Getty include grout and a black (perhaps tar-based) caulk. The panels have been coated with a protective microcrystalline wax.

### Bibliography

Unpublished.

<span class="entry-author">S.L.</span>

[^1]: The Mosaic with a Lion Chasing a Bull (cat. 19) was given to the Getty Museum by Joel Malter, Los Angeles, and the ten remaining panels were given to the museum by William Wahler, San Francisco, who purchased them from Mr. Malter.

[^2]: On vine scrolls, see Talgam 2014, 86–96.

[^3]: ‘Ain el-Bad: Donceel-Voûte 1988, 16–19, fig. 1. Armenian chapel in Jerusalem: Talgam 2014, 91–92, fig. 125. For another example, see the mosaic panel from a Syrian church in the Chazen Museum of Art (1972.19).

[^4]: On depictions of eagles, often shown frontally with wings outstretched, see Hachlili 2009, 141.

[^5]: Donceel-Voûte 1988, 49, fig. 23.

[^6]: Donceel-Voûte 1988, 464, fig. 442b.

[^7]: Jwejati 2014.

[^8]: On the popular motif of a rabbit being chased by dogs, see Hachlili 2009, 157–58.

[^9]: Donceel-Voûte 1988, 144, fig. 116.

[^10]: Donceel-Voûte 1988, 179, fig. 150.

[^11]: On inhabited scroll mosaics, which were especially popular in the sixth century AD, see Dauphin 1978, 1987; Hachlili 2009, 111–47; and Talgam 2014, 86–96.

[^12]: Donceel-Voûte 1988, 192–201.

[^13]: Donceel-Voûte 1988, 138–44. On the composition of animal and animal chase scenes in general, see Lavin 1963; Donceel-Voûte 1988, 476–78; and Hachlili 2009, 155–69.

[^14]: See above, note 2.

[^15]: Augustine, *De civitate Dei*, 21.4. On the Christian significance of peacocks, see Maguire 1987, 39–40.

[^16]: On the eagle as the image of the bird freed from its cage by Christ, see Evans 1982, 219. Talgam reads the eagle in connection with the phoenix; see Talgam 2014, 201–2. For the eagle as a bird within a “catalogue” of birds; see Hachlili 2009, 141. The eagle has also been seen as a symbol of Christ the emperor, the congregation at communion, or the resurrection of Christ; see Maguire 1987, 65–66.

[^17]: See Maguire 1987.

[^18]: On mosaic workshops in the Levant, about which much remains unclear, see Hachlili 2009, 254–73; and Talgam 2014, 170–74. On mosaic workshops generally, see Donderer 1989.

[^19]: In the Ma‘arat an-Nu‘man Mosaics Museum, for example, compare the nave pavement of the Houad church; see Donceel-Voûte 1988, 138–44. Mosaics with various animals are in the Chazen Museum (1972.17–20), formerly the Elvehjem Art Center. They are little documented, but see Elvehjem Art Center 1972–73, 42, ills. 8–9. A mosaic with a lion is now in the Kimbell Art Museum (AP 1972.17). Though the mosaics in the Fordham Museum are largely undocumented, their inscriptions were recently published; see Peppard 2014.
